.date-card {
    height: 100%;
    text-align: center;
    border: 1px solid #dddddd;
    border-top: none;
    overflow: scroll;
    -ms-overflow-style: none;    /* IE, Edge  */
    scrollbar-width: none;       /* Firefox  */
    &::-webkit-scrollbar{
        display: none; /* Chrome, Safari  */
    }

    .day-container {
        height: 10%;
        font-size: .7rem;
        margin: 0;
        box-sizing: border-box;
        padding-top: 3%;

        .today {
            background-color: rgb(26, 115, 232);
            color: rgb(255, 255, 255);
            display: inline-block;
            width: 1.3rem;
            // height: 1.3rem;
            line-height: 1.3rem;
            border-radius: 0.8rem;
        }

        span {
            font-weight: 500;
        }
    }
}

.frontDays {
    background-color: rgba(138, 138, 138, .1);
}